# Homework Week 2

due September 9th

### 1. Formatted Printing

In [8]:
a,b=8.3,10
print("help, the value for a is {} and for b is {}".format(a,b))

help, the value for a is 8.3 and for b is 10

In [30]:
a,b=8.3,10
print("help, the value for a is {0:.0f} and for b is {1:.6e}".format(a,b))

help, the value for a is 8 and for b is 1.000000e+01

### 2. Formatted Printing and Writing

Using the Wikipedia page here -- https://en.wikipedia.org/wiki/List_of_nearest_bright_stars -- create a file called nearestAstars.txt and populate it with the following two lines:

The nearest A star is Sirius at a distance of 2.638 parsecs
the second nearest A stars is Altair at a distance of 5.1227 parsecs

In [1]:
def ly_to_psc(dis_ly):
    psc = dis_ly / 3.26
    return psc

a_star0_name = 'Sirius'
a_star0_dist = 8.60 #lightyears

a_star1_name = 'Altair'
a_star1_dist = 16.7

f = open('nearestAstars.txt', 'w')
f.write('The nearest A star is {0} at a distance of {1:.3f} parsecs '.format(a_star0_name, ly_to_psc(a_star0_dist)))
f.write('the second nearest A star is {0} at a distance of {1:.4f} parsecs'.format(a_star1_name, ly_to_psc(a_star1_dist)))
f.close()

### 6. Dictionaries

Use three defined dictionaries with the following entries -- 1. city + country abbreviation, 2. country abbreviation + skyscraper, 3. skyscraper + height.

Assume the following building heights (i.e. this will be dictionary number 3): Petronas Towers - 1483 ft WTC - 1776 ft Eiffel Tower - 1083 ft

Write a for-loop that prints out the country, abbreviation, city, building, and height converted to au (assume 1 foot = 2.0375e-12 au):

In [5]:
cities = {"Paris": "FR", 
          "New York": "USA",
          "Kuala Lumpur": "MY"}
towers = {"FR": "Eiffel Tower",
          "USA": "WTC",
          "MY": "Petronas Towers"}
height = {"Eiffel Tower": 1083,
          "WTC": 1776,
          "Petronas Towers": 1483}

def ht_au(ft):
    return ft*2.0375e-12



for c in cities:
    print("The tallest building in the city of {}, {} is the {} with a height of {:.3e} au".format(
        c, cities[c], towers[cities[c]], ht_au(height[towers[cities[c]]])))

The tallest building in the city of Paris, FR is the Eiffel Tower with a height of 2.207e-09 au
The tallest building in the city of New York, USA is the WTC with a height of 3.619e-09 au
The tallest building in the city of Kuala Lumpur, MY is the Petronas Towers with a height of 3.022e-09 au

### 7. Lists, Arrays, Loops, and Type Conversions

Start with a list 4 elements long, including a mix of floating point numbers and integers: Ï€ , e, 3.1 and 5.

Remove 3.1 using the remove function and array indexing.

Append Euler's gamma constant to the list

Write a line of code that prints out a, repeated 3 times

Write a line of code that prints out each element of a multiplied by 3

Write a for-loop that prints out each element of a multiplied by 3

In [9]:
import numpy as np


coollist = [np.pi, np.e, 3.1, 5]

coollist.remove(3.1)

coollist.append(np.euler_gamma)



for i in range(len(coollist)):
    print(coollist[i])

3.141592653589793
2.718281828459045
5
0.5772156649015329