# Homework Week 2

due September 9th

### 1. Formatted Printing

In [8]:
a,b=8.3,10
print("help, the value for a is {} and for b is {}".format(a,b))

help, the value for a is 8.3 and for b is 10

In [30]:
a,b=8.3,10
print("help, the value for a is {0:.0f} and for b is {1:.6e}".format(a,b))

help, the value for a is 8 and for b is 1.000000e+01

### 2. Formatted Printing and Writing

Using the Wikipedia page here -- https://en.wikipedia.org/wiki/List_of_nearest_bright_stars -- create a file called nearestAstars.txt and populate it with the following two lines:

The nearest A star is Sirius at a distance of 2.638 parsecs
the second nearest A stars is Altair at a distance of 5.1227 parsecs

In [15]:
import numpy as np
import pandas as pd
df = pd.read_csv('List_of_nearest_bright_stars_2.csv')
# data = np.genfromtxt('List_of_nearest_bright_stars_2.csv', unpack=True, dtype=str, delimiter=',')

# print(df.head)
print(df.columns)

Index(['Star Designation', 'Star Designation.1', 'Stellar\r\nClass',
       'Magnitude', 'Magnitude.1', 'Right\r\nAscension\r\n(J2000)',
       'Declination (J2000)', 'Distance\r\n(Light-years)'],
      dtype='object')

In [17]:
# df['A' in 'Stellar\nClass
# df.columns
df.rename(columns={'Stellar\r\nClass':'Stellar Class'})

,Star Designation,Star Designation.1,Stellar Class,Magnitude,Magnitude.1,Right\r\nAscension\r\n(J2000),Declination (J2000),Distance\r\n(Light-years)
0,Star Designation,Star Designation,Stellar\r\nClass,Apparent,Absolute,Right\r\nAscension\r\n(J2000),Declination (J2000),Distance\r\n(Light-years)
1,Sun,Sun,G2V,−26.74,4.80,—,—,0
2,α Centauri,A,G2V,−0.01,4.34,14h 39m 36.50s,−60° 50′ 02.3″,4.34
3,α Centauri,B,K1V,1.35,5.71,14h 39m 35.08s,−60° 50′ 13.8″,4.34
4,Sirius (α Canis Majoris),Sirius (α Canis Majoris),A1V,−1.44,1.45,06h 45m 08.92s,−16° 42′ 58.0″,8.60
...,...,...,...,...,...,...,...,...
63,γ Pavonis,γ Pavonis,F6V,4.21,4.39,21h 26m 26.61s,−65° 21′ 58.3″,30.2
64,61 Ursae Majoris,61 Ursae Majoris,G8V,5.31,5.41,11h 41m 03.02s,+34° 12′ 05.9″,31.1
65,HR 4458 (in Hydra),A,K0V,5.96,6.06,11h 34m 29.49s,−32° 49′ 52.8″,31.2
66,12 Ophiuchi,12 Ophiuchi,K2V,5.77,5.82,16h 36m 21.45s,−02° 19′ 28.5″,31.8
67,Gliese 638 (in Hercules),Gliese 638 (in Hercules),K7V,8.10,8.15,16h 45m 06.35s,+33° 30′ 33.2″,31.9

In [1]:
def psc_to_ly(dis_psc):
    ly = dis_psc/3.26
    return ly